<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <input type="email" name="email" placeholder="insert email">
        <input type="password" name="password" placeholder="insert password">
        <button type="submit">Sign up</button>
    </form>
    <a href="/signin">I already  have an account. Login</a>
</body>
</html>